<% @books.each do |book| %>
<div>
  <%= attachment_image_tag @user, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg" %>
  <%= link_to book_path(book.id) do %>
  Title：<%= book.title %>
  <% end %>
  <p>Opinion：<%= book.body %></p>
</div>
<% end %>